.vscode/
.bloop/
.metals/
.idea/
*.iws
out/
.idea_modules/
**___jb_tmp___
*.iml
modules.xml
.idea/misc.xml
*.ipr
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
*.class
*.log
